.shopping-list-header{
  text-align: center;
  padding: 10px;
}
.shopping-list-summary {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}

.shopping-list-summary p {
  margin: 5px 0;
}

