<div class='home-index'>
  <%= link_to explore_path do %>
    <%= image_tag 'back.png', alt: 'Back', class: 'back' %>
  <% end %>
  <div><%= link_to 'Add food', new_food_path, class: 'in-out a-tag'%></div>
</div>
<table class="food-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'food', collection: @foods %>
  </tbody>
</table>
